body {
    margin: 0;
    background: #282828;
    font-family: sans-serif;
    color: #FFF;
}

h1 {
    text-align: center;
}

main {
    padding: 10px;
}

section {
    border: 1px solid #FFF;
    padding: 5px;
    margin-bottom: 10px;
}

section input {
    border: 1px solid #aaa;
    padding: 3px;
    flex: 0 1 70%;
}

section select {
    flex: 0 1 25%;
}

button {
    border: 1px solid #FFF;
    background: #FFF;
    width: 100%;
    color: #000;
}